
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>My site</h4>
      <!-- <div class="col-md-12"> -->
        <h4><a class="btn btn-default" href="<%= top_listings_shortened_urls_path %>"><i class="glyphicon"></i> 100 Top Accessed URLS</a></h4>
      <!-- </div> -->
    </div>

    <div class="col-sm-9">
      <hr>
      <h2>Welcome to ShortURL!</h2>
      
      <p> Please enter a URL in the text field below, we will create a shortened URL.</p>
      <br><br>
      <%= form_for ShortenedUrl.new do |f| %>
        <div align="center">
          <label>Enter a long URL to make short:</label>
          <div class="input-group">
            <div class="col-xs-12">
              <span class="input-group-btn">
                <%= f.text_field :url, class: 'form-control' %>
                <%= f.button "Make ShortURL", class: 'btn btn-default'%>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>
