<div class="row">
  
</div>
<div class="container">

  <hr><a class="btn btn-default" href="<%= root_url %>"><i class="glyphicon"></i> Home</a>
  
  <h2>100 the most frequently accessed URLs</h2>
             
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th>User Count</th>
      </tr>
    </thead>
    <tbody>
      <% @shortUrls.each do |url|%>
        <tr>
          <td><%= url.url%></td>
          <td><%= "#{root_url}#{url.unique_key}"%></td>
          <td><%= url.use_count%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
